.categoryWrapper {
  margin: 2rem;
  display: flex;
  justify-content: center;
  }

.container {
  width: 700px;
  display:flex;
  flex-wrap: wrap;
}

.category {
  margin: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: white;
}

.paragraph {
  font-size: 10px;
  font-weight: 700;
}


.category:hover {

  background: rgba(0, 0, 0, 0.297);
  color: white;

}

.filtertext span {
  font-weight: 500;
}
 

 .filterinfo {
   text-align: center;
 }

 .filtertext {
   margin-bottom: 2vh;
 }

 .filterinfo button {
   padding: 15px;
   cursor: pointer;
   
 }

 


@media only screen and (min-width: 600px) {
  .categoryWrapper {
    display: flex;
    flex-wrap: wrap;
  }
}
