

.channelsContainer {
  margin: 20px auto;
}

.imgContainer {
  width: 300px;
  margin: 0 auto;
}

.image {
  width: 100%;
  cursor: pointer;
}

.controller {
  display: flex;
  justify-content: space-between;
}

 .headerwrapper {
   width: 200px;
  display: flex;
  justify-content: space-between;
}

.channelname {
  display: none;
}
 
@media only screen and (min-width: 600px) {


  .imgContainer {
    width: 100px;

    margin: 0;
  }

  .channelswrapper {
    border-bottom: 1px solid black;
    width: 300px;
    margin: 20px;
  }

  .channelsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .channelname {
    display: block;
  }

  .info {
    display: flex;
    margin-bottom: 5px;
  }

  .info .headerwrapper {
    margin-left: 15px;
    align-self: flex-end;
  }

  
}
