.channelsContainer {
  margin: 2rem;
}
.channel {
    margin: 2rem;
    cursor: pointer;
}
.image {
    margin-bottom: 2vh;
    width:100%
}



@media only screen and (min-width: 600px) {

    .channelsContainer {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
    }

    .channel {
        max-width: 200px;
        margin: 2em;
    
    }
    
    .imgContainer {
        width: 150px;
    }
    

  }