.navbarWrapper {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background: white;
  position: sticky;
  top: 0px;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
  line-height: 1.5;
  font-size: 1.5em;
}

span {
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown {
  position: relative;
}

.hamburgermenu {
  cursor: pointer;
}

.DropdownContainer {
  position: absolute;
  top: 3em;
  right: -24px;
  background: rgb(255, 255, 255);
  width: 375px;
  height: 300px;
  border-radius: 10px;
 
}

.DropdownContainer a {
  display: block;

  padding: 10px 25px;
}
.DropdownContainer a:hover {
  background: rgb(240, 242, 245);
  color: black;
}
