.paginationWrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.paginationContent {
display: flex;
}

.userfeedback {
    background: white;
}

.userfeedback h4 {
    padding: 10px;
    text-align: center;
}

.paginationContent li {
    font-size: x-large;
    list-style: none;
    padding: 5px 15px;
    margin: 10px;
    cursor: pointer;
}

.paginationContent li:hover {
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.071);

}

